.App {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.colorBox {
  height: 150px;
  width: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonContainer {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pickerAnswer {
  display: flex;
  justify-content: center;
}
